	
#notform{text-align: right;
}
	
		
p{ text-align: center; color: blue;}

{color: #2980b9;
}


 
 div{background-color: #0080ff;}

 li{display: inline;
font-size: 40px;
font-style: algeria;
text-align: center;
 }

 a:hover{ background-color: #ff0000;}
 a:visited{color: pink}
 a:acticve{color: red}

 li a {padding :8px 16px
 	width :60px;
 	display : inline;
 	border-radius: 5px;
 	list-style:  : none;}
 	.brian img{text-align: center;

    width: 30%
    padding :10px;
background-color: green;



 	  }
 	#brians{ display: block; }
 	#rep{color: green;
 		text-align: right;
 	}
 	
 	footer{background-color: red;
 		padding :20px}

body{

background-image: url("pictures/watch");

}
textarea{background-color: red
width:50px;
margin: 0 auto;
height:30px;

}
fieldset{text-align: center;border: 2px dashed red;
}


#le{text-align: right;display: inline;}



























































